
<th:block th:fragment="formElement(name, label, value, placeholder, error)">
    <label th:for="${name}" th:text="${label}"></label>
    <input type="text" th:name="${name}" th:id="${name}" th:placeholder="${placeholder}" th:value="${value}"><br>
    <span th:if="${error}" style="color: red;" th:text="${error}"></span>
    <br>
</th:block>

<th:block th:fragment="specialFormElement(type, name, label, value, placeholder, error)">
    <label th:for="${name}" th:text="${label}"></label>
    <input th:type="${type}" th:name="${name}" th:id="${name}" th:placeholder="${placeholder}" th:value="${value}"><br>
    <span th:if="${error}" style="color: red;" th:text="${error}"></span>
    <br>
</th:block>

<th:block
    th:fragment="gardenForm(action, actionLabel, cancel, gardenName, gardenLocation, gardenSize, gardenNameError, gardenLocationError, gardenSizeError)">
    <form th:action="${action}" method="post" novalidate>
        <div
            th:replace="~{fragments/formElement :: formElement(name='gardenName', label='Name: ', value=${gardenName}, placeholder='Your garden\'s name', error=${gardenNameError})}">
        </div>
        <div
            th:replace="~{fragments/formElement :: formElement(name='gardenLocation', label='Location: ', value=${gardenLocation}, placeholder='Your garden\'s location', error=${gardenLocationError})}">
        </div>
        <div
            th:replace="~{fragments/formElement :: formElement(name='gardenSize', label='Size (optional): ', value=${gardenSize}, placeholder='Your garden\'s size', error=${gardenSizeError})}">
        </div>
        <button type="submit" th:text="${actionLabel}"></button>
        <a th:href="${cancel}">
            <button type="button">Cancel</button>
        </a>
    </form>
</th:block>

<th:block
    th:fragment="plantForm(action, actionLabel, cancel, plantName, plantCount, plantDescription, plantedOnDate, plantGardenId, plantNameError, plantCountError, plantDescriptionError, plantedOnDateError)">
    <form th:action="${action}" method="post" novalidate>
        <div
            th:replace="~{fragments/formElement :: formElement(name='plantName', label='Name: ', value=${plantName}, placeholder='Your plant\'s name', error=${plantNameError})}">
        </div>
        <div
            th:replace="~{fragments/formElement :: formElement(name='plantCount', label='Count (optional): ', value=${plantCount}, placeholder='Your plant\'s count', error=${plantCountError})}">
        </div>
        <div
            th:replace="~{fragments/formElement :: formElement(name='plantDescription', label='Description (optional): ', value=${plantDescription}, placeholder='Your plant\'s description', error=${plantDescriptionError})}">
        </div>
        <div
            th:replace="~{fragments/formElement :: specialFormElement(type='date', name='plantedOnDate', label='Planted Date: (optional)', value=${plantedOnDate}, placeholder='Your plant\'s planted date', error=${plantedOnDateError})}">
        </div>
        <input type="hidden" th:name="gardenId" th:id="gardenId" th:value="${plantGardenId}">
        <button type="submit" th:text="${actionLabel}"></button>
        <a th:href="${cancel}">
            <button type="button">Cancel</button>
        </a>
    </form>
</th:block>