<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head th:replace="~{fragments/head :: head(title='Gardener\'s Grove - Browse Gardens')}"></head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main>
<!--        search bar -->

        <div class="basic">
            <form th:action="@{/browseGardens}" method="post">
                <div class="search-bar">
                    <input type="text" id="gardenSearchInput" name="query" placeholder="Search gardens..." th:value="${query}">
                    <button type="submit">Search</button>
                </div>
            </form>
            <h1 th:if="${query.empty}"> Recent Gardens</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Size (m&sup2;)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${gardens.empty}">
                        <td colspan="3"> No public gardens to browse</td>

                    </tr>
                    <tr th:each="garden : ${gardens}">
                        <td><a th:href="@{/gardens/{id}(id=${garden.id})}" th:text="${garden.name}"> Name </a></td>
                        <td><span th:text="${garden.getLocationString}"> Location </span></td>
                        <td><span th:text="${garden.size}"> Size </span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>