<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head th:replace="~{fragments/head :: head(title='Gardener\'s Grove - Create Garden')}"></head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main>
        <div class="basic">
            <h1>Create a garden</h1>
            <form th:action="@{/gardens/create}" method="post" th:object="${createGardenForm}">
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='name', label='Garden Name: ', placeholder='The Hamilton Gardens')}" />
                <br />
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='size', label='Size in m&sup2; (optional): ', placeholder='540000.0')}" />

                <h2>Garden Location</h2>
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='address', label='Address: (optional)', placeholder='13 Hungerford Crescent')}" />
                <br />
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='suburb', label='Suburb: (optional)', placeholder='Ilam')}" />
                <br />
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='city', label='City: ', placeholder='Christchurch')}" />
                <br />
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='postcode', label='Postcode: (optional)', placeholder='3216')}" />
                <br />
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='country', label='Country: ', placeholder='New Zealand')}" />
                <br />
                <div class="cancel-submit-wrapper">
                    <a class="cancel button" th:href="@{/gardens}">Cancel</a> <!--TODO cancel back to the previous page-->
                    <button class="next" type="submit">Create</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>