<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head th:replace="~{fragments/head :: head(title='Gardener\'s Grove - Create Garden')}"></head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main>
        <h1>Create a garden</h1>
        <div class="content">
            <form th:action="@{/gardens/create}" method="post" th:object="${createGardenForm}">
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='name', label='Garden Name: ', placeholder='The Hamilton Gardens')}" />
                <br />


                <input th:replace="~{fragments/formElement :: formElementField(fieldName='street', label='Street: ', placeholder='Hungerford Crescent')}" />
                <br />
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='streetNumber', label='Street Number: ', placeholder='23')}" />
                <br />
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='suburb', label='Suburb: ', placeholder='Ilam')}" />
                <br />
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='city', label='City: ', placeholder='Christchurch')}" />
                <br />
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='postcode', label='Postcode: ', placeholder='3216')}" />
                <br />
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='country', label='Country: ', placeholder='New Zealand')}" />
                <br />

                <input th:replace="~{fragments/formElement :: formElementField(fieldName='size', label='Size in m&sup2; (optional): ', placeholder='540000.0')}" />
                <br />
                <button class="next" type="submit">Create</button>
                <a class="cancel" th:href="@{/gardens}">Cancel</a> <!--TODO cancel back to the previous page-->
<!--                <a class="cancel" href="#" onclick="window.history.back();">Cancel</a>-->

            </form>
        </div>
    </main>
</body>
</html>