<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Progile</title>
</head>

<body>
<h4>My Profile</h4>

<label for="fName"> Last Name: </label>
<input type="text" class="form-control" id="fName" placeholder="New Last Name"
       th:name="fName" th:value="*{fName}" data-cy="fName" autofocus>
<br/>

<label for="lName"> Last Name: </label>
<input type="text" class="form-control" id="lName" placeholder="New Last Name"
       th:name="lName" th:value="*{lName}" data-cy="lName" autofocus>
<br/>

<label for="password"> Password: </label>
<input type="password" class="form-control" id="password"
       th:name="password" th:value="*{password}" data-cy="password" required autofocus>
<br/>

</body>
</html>