<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-user.css}">
</head>

<body>
    <div class="basic">

        <h1>Edit My Profile</h1>
<!--        <form th:action="@{/upload}" method="post" th:object="${editUserForm}" enctype="multipart/form-data">-->
<!--            <img id="profilePicture" th:src="${editUserForm.getProfilePictureUrl()}" alt="Profile Picture" class="profile-picture">-->
<!--            <br />-->
<!--            <input type="file" id="profilePictureInput" name="profilePicture" onchange="validateImage(this)">-->
<!--            <button type="submit" class="submit">Submit</button>-->
<!--        </form>-->

        <form th:action="@{/editProfile}" method="post" th:object="${editUserForm}" enctype="multipart/form-data">
<!--            <img th:src="${editUserForm.getProfilePictureUrl()}" alt="Profile Picture" class="profile-picture">-->
            <img id="profileImage" th:src="${editUserForm.getProfilePictureUrl()}" alt="Profile Picture" class="profile-picture">
            <br />
            <input type="file" id="profilePictureInput" name="profilePicture" onchange="validateImage(this)">
            <br />
<!--            <input th:type="file" name="profilePicture" accept="image/*" onchange="displayImage(this)">-->
            <br />
            <input th:replace="~{fragments/formElement :: formElementField(fieldName='firstName', label='First Name: ', placeholder='Fabian')}" />
            <input th:replace="~{fragments/formElement :: formElementField(fieldName='lastName', label='Last Name: ', placeholder='Gilson')}" />
            <input type="checkbox" class="form-control" id="noSurnameCheckBox" th:field="*{noSurnameCheckBox}" onclick="toggleInput()">
            <label for="noSurnameCheckBox"> I have no surname </label>
            <br />
            <input th:replace="~{fragments/formElement :: formElementField(fieldName='email', label='Email: ', placeholder='jane@doe.nz')}" />
            <input th:replace="~{fragments/formElement :: formElementField(fieldName='dob', label='Date of Birth: ', placeholder='DD/MM/YYYY')}" />
            <input th:replace="~{fragments/formElement :: formElementField(fieldName='password', label='Password: ', placeholder='*******', type='password')}" />
            <input th:replace="~{fragments/formElement :: formElementField(fieldName='retypePassword', label='Re-Type Password: ', placeholder='*******', type='password')}" />
            <br />

            <button type="submit">Update Profile</button>
            <a class="cancel" th:href="@{profile}">Cancel</a>
        </form>
    </div>
    <script>
        // Function to disable last name input field if the 'no surname' checkbox is checked
        function toggleInput() {
            let checkbox = document.getElementById('noSurnameCheckBox');
            let textField = document.getElementById('lastName');

            if (checkbox.checked) {
                textField.value = '';
                textField.readOnly = true;
            } else {
                textField.readOnly = false;
            }
        };

        // Calls toggleInput when the page loads to ensure it runs initially
        window.onload = function () {
            toggleInput();
        };

        function validateImage(input) {
            const file = input.files[0];
            const validTypes = ["image/png", "image/jpeg", "image/svg+xml"];
            const maxFileSize = 10 * 1024 * 1024; // 10MB

            if (!validTypes.includes(file.type)) {
                alert("Image must be of type png, jpg or svg");
                input.value = '';
                return false;
            }

            if (file.size > maxFileSize) {
                alert("Image must be less than 10MB");
                input.value = '';
                return false;
            }

            if (input.files && input.files[0]) {
                const fileReader = new FileReader();

                fileReader.onload = function (e) {
                    document.getElementById('profileImage').src = e.target.result;
                }

                fileReader.readAsDataURL(input.files[0]);
            }
        }


    </script>

</body>

</html>