<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>

<body>
<div id="basic">

        <h4>Edit My Profile</h4>
        <form th:action="@{editProfile}" method="post">
        <label for="fName"> First Name: </label>
        <input type="text" class="form-control" id="fName"
               th:name="fName" th:value="*{fName}" data-cy="fName" autofocus>
        <br/>

        <label for="lName"> Last Name: </label>
        <input type="text" class="form-control" id="lName"
               th:name="lName" th:value="*{lName}" data-cy="lName" autofocus>
        <br/>

        <input type="checkbox" class="form-control" id="noSurnameCheckBox"
               th:name="noSurnameCheckBox" data-cy="noSurnameCheckBox"
               autofocus>
        <label for="noSurnameCheckBox"> No last name </label>
        <br/>

        <label for="email"> email: </label>
        <input type="email" class="form-control" id="email"
               th:name="email" th:value="*{email}" data-cy="email" required autofocus>
        <br/>

        <label for="dob"> Date of Birth: </label>
        <input type="date" class="form-control" id="dob"
               th:name="dob" th:value="*{dateOfBirth}" data-cy="dob" autofocus>
        <br/>

        <label for="password"> Password: </label>
        <input type="password" class="form-control" id="password" placeholder="********"
               th:name="password" th:value="*{password}" data-cy="password"  autofocus>
        <br/>
            <label for="retypePassword"> Re-type Password: </label>
            <input type="password" class="form-control" id="retypePassword"
                   th:name="retypePassword" th:value="*{retypePassword}" data-cy="retypePassword" autofocus>
            <br/>

        <div th:if="${errorMessage}">
            <div th:replace="~{fragments/errorMessageFragment :: errorMessage(message=${errorMessage})}"></div>
        </div>

        <div id="next">
            <button type="submit">Update Profile</button>
        </div>

        <div id="back">
            <a th:href="@{profile}">Cancel</a>
        </div>
    </form>
    </div>

</body>

</html>