<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Trouble logging in?</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles-user.css}">
</head>

<body>
<div class="basic">
    <h1>Trouble logging in?</h1>
    <form th:action="@{forgotPassword}" method="post" th:object="${forgotPasswordForm}">
        <p>Enter your email then we'll send you a link to get back into your account.</p>
        <input th:replace="~{fragments/formElement :: formElementField(fieldName='email', label='', placeholder='jane@doe.nz')}" />
        <br />
        <a th:href="@{register}">Create new account</a>
        <button type="submit" class="next">Send login link</button>
        <a th:href="@{login}">Back to login</a>
    </form>
</div>
</body>

</html>
