<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head(title='Gardener\'s Grove - Forgot Password?')}"></head>

<body>
    <main class="centred">
        <div class="basic">
            <h1>Trouble logging in?</h1>
            <form th:action="@{forgotPassword}" method="post" th:object="${forgotPasswordForm}">
                <p>Enter your email then we'll send you a link to get back into your account.</p>
                <br>
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='email', label='', placeholder='jane@doe.nz', addedClasses='no-label')}" />
                <a th:href="@{register}">Create new account</a>
                <div class="cancel-submit-wrapper">
                    <a class="cancel" th:href="@{login}">Back to login</a>
                    <button type="submit" class="next">Send login link</button>
                </div>
            </form>
        </div>
    </main>
</body>

</html>
