<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head th:replace="~{fragments/head :: head(title='Gardener\'s Grove - ' + ${garden.name})}"></head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main>
        <div class="content">
            <h1 th:text="${garden.name}"></h1>
            <a th:href="@{'/gardens/' + ${garden.id} + '/plants/create'}">
                <button>Add a plant</button>
            </a>
            <div th:text="'Location: ' + ${garden.location}"></div>
            <div th:if="${garden.size != null}" th:text="'Size: ' + ${garden.size} + ' m&sup2;'"></div>
            <div><a th:href="@{'/gardens/' + ${garden.id} + '/edit'}">Edit Garden Details</a></div>
            <div class="scroll-plants-container">
                <table>
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Count</th>
                        <th>Description</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${plants.empty}">
                        <td colspan="5">No plants yet</td>
                    </tr>
                    <tr th:each="plant : ${plants}">
                        <td><img th:src="@{/images/defaultPlantPic.png}" alt="Plant Image" style="max-width: 100px; max-height: 100px;" /></td>
                        <td><span th:text="${plant.name}"></span></td>
                        <td><span th:text="${plant.plantCount}"></span></td>
                        <td><span th:text="${plant.description}"></span></td>
                        <td><a th:href="@{'/gardens/' + ${garden.id} + '/plants/' + ${plant.id} + '/edit'}">Edit Plants</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div><a th:href="@{/gardens}">Back to My Gardens</a></div>
        </div>
    </main>
    <!--    TODO THIS WOULD BE VERY GOOD TO FIGURE OUT SO WE DON'T HAVE JS IN HTML FILES -->
<!--    <script th:src="@{/js/plantsTableScrollAfter10Plants.js}" type="text/javascript"></script>-->
    <script>
        window.onload = function() {
            const container = document.querySelector(".scroll-plants-container");
            const table = container.querySelector("table");
            let height = table.querySelector("thead").getBoundingClientRect().height;
            for (let i = 1; i <= 10; i++) {
                if (table.rows[i]) {
                    height += table.rows[i].getBoundingClientRect().height;

                }
            }
            container.style.maxHeight = height + "px";
        }
    </script>
</body>
</html>