<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head th:replace="~{fragments/head :: head(title='Gardener\'s Grove - ' + ${garden.name})}"></head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main>
        <h1 th:text="${garden.name}"></h1>
        <div class="content">
            <a th:href="@{'/gardens/' + ${garden.id} + '/plants/create'}">
                <button>Add a plant</button>
            </a>
            <div th:text="'Country: ' + ${garden.country}"></div>
            <div th:if="${garden.size != null}" th:text="'Size: ' + ${garden.size} + ' m&sup2;'"></div>
            <div><a th:href="@{'/gardens/' + ${garden.id} + '/edit'}">Edit Garden Details</a></div>
            <div><a th:href="@{/gardens}">Back to My Gardens</a></div>
        </div>
    </main>
</body>
</html>