<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head th:replace="~{fragments/head :: head(title='Gardener\'s Grove - ' + ${garden.name})}"></head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main>
        <div class="basic">
<!--            <tr th:each="w : ${weather}">-->
<!--              <div th:text="${w}"></div>-->

<!--                <div th:text="${w.type.getText()}"></div>-->
<!--            </tr>-->

            <h1 th:text="${garden.name}"></h1>
            <p th:if="${garden.latitude == null and garden.longitude == null}" th:text="'Location not found, please update your location to see the weather.'"></p>
            <p th:text="${garden.getLocationString}"></p>
            <br>
            <p th:if="${garden.size != null}" th:text="'Size: ' + ${garden.size} + ' m&sup2;'"></p>
            <br>
            <p id="gardenVisibilityText" th:text="'Garden Visibility: ' + (${garden.getIsPublic} ? 'Public' : 'Private')"></p>
            <br>
            <div class="form-element">
                <label for="publicCheckbox"><b>Make My Garden Public</b></label>
                <input type="checkbox" class="form-control" id="publicCheckbox" th:checked=${garden.getIsPublic} th:attr="onclick='toggleInput(this, ' + ${garden.id} + ')'">
            </div>
            <br th:if="${garden.size != null}">
            <a th:href="@{'/gardens/' + ${garden.id} + '/plants/create'}">
              <button>Add a plant</button>
            </a>
            <a class="cancel" th:href="@{'/gardens/' + ${garden.id} + '/edit'}">Edit Garden Details</a>
          <br>

          <div id="weather-container" class="weather-box">
            <div class="weather-info">
              <div style="align-content: center; display: inline">
                <h3 th:text="'Today is ' + ${weather[0].dayOfTheWeek}"></h3>
              </div>
              <h2>My Location</h2>
              <p th:if="${garden.latitude == null and garden.longitude == null}" th:text="'Location not found, please update your location to see the weather.'"></p>
              <p th:text="${garden.getCity()} + ', ' + ${garden.getCountry()}"></p>
              <img th:src="@{${weather[1].type.getPicturePath()}}" alt="Weather Image" width="150" height="150">
              <h2 th:text="${weather[0].temperature} + '°C'"></h2>
              <h3 th:text="${weather[0].type.getText()}"></h3>
              <h3 th:text="${weather[0].humidity} + '%'" style="color: dimgrey"></h3>
              <br>
              <div>
                <h3>Next Hour's Weather</h3>
                <h4 style="font-weight: normal;">
                  <span th:text="${weather[1].temperature} + '°C'"></span>
                </h4>
                <h4 style="font-weight: normal;">
                  <span th:text="${weather[1].type.getText()}"></span>
                </h4>
                <h4>
                  <span th:text="${weather[1].humidity} + '%'" style="color: dimgrey"></span>
                </h4>
              </div>

            </div>
          </div>

          <p>Search by <a href="https://open-meteo.com/">open-meteo.com</a></p>
          <p>Weather icon provided by <a href="https://www.flaticon.com">flaticon.com</a></p>

          <br>

          <br>
            <span id="clientSideErrorMessage" class="error"></span>
            <br>

            <div class="scroll-plants-container">
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Number of Plants</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${plants.empty}">
                        <td colspan="5">No plants yet</td>
                    </tr>
                    <tr th:each="plant : ${plants}">
                        <td>
                            <div class="plant-picture-upload-wrapper">
                                <div class="plant-picture-wrapper">
                                    <img class="plant-picture" th:id="'plantImage' + ${plant.id}"
                                         th:src="${plant.picturePath}"
                                         alt="Plant Picture">
                                    <label th:id="'pictureFileLabel' + ${plant.id}" class="file-upload-plus-button" th:for="'pictureFile' + ${plant.id}">+</label>
                                </div>
                                <form th:id="'pictureForm' + ${plant.id}" th:action="@{'/gardens/' + ${garden.id} + '/plants/' + ${plant.id}}" th:object="${plantPictureForm}" method="post" enctype="multipart/form-data">
                                    <input type="file" th:field="*{pictureFile}" th:id="'pictureFile' + ${plant.id}" th:attr="onchange='validateImage(this, ' + ${plant.id} + ')'" accept="image/png, image/jpeg, image/svg+xml">
                                </form>
                            </div>
                        </td>
                        <td><span th:text="${plant.name}"></span></td>
                        <td><span th:text="${plant.plantCount}"></span></td>
                        <td><span th:text="${plant.description}"></span></td>
                        <td><a th:href="@{'/gardens/' + ${garden.id} + '/plants/' + ${plant.id} + '/edit'}">Edit Plant</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <a th:href="@{/gardens}">
                <button>Back to My Gardens</button>
            </a>
        </div>
    </main>
    <!--    TODO THIS WOULD BE VERY GOOD TO FIGURE OUT SO WE DON'T HAVE JS IN HTML FILES -->
<!--    <script th:src="@{/js/plantsTableScrollAfter10Plants.js}" type="text/javascript"></script>-->
    <script>
        // limits viewable plants in the table to 10
        window.onload = function() {
            const container = document.querySelector(".scroll-plants-container");
            const table = container.querySelector("table");
            let height = table.querySelector("thead").getBoundingClientRect().height;
            for (let i = 1; i <= 10; i++) {
                if (table.rows[i]) {
                    height += table.rows[i].getBoundingClientRect().height;

                }
            }
            container.style.maxHeight = height + "px";
        }

        function validateImage(input, id) {
            if (!(input.files && input.files[0])) {
                return;
            }
            const file = input.files[0];
            const validTypes = ["image/png", "image/jpeg", "image/svg+xml"];
            const maxFileSize = 10 * 1024 * 1024;

            if (!validTypes.includes(file.type) && file.size > maxFileSize) {
                input.value = '';
                document.getElementById('clientSideErrorMessage').textContent = "Image must be of type png, jpg or svg, and less than 10MB";
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth'
                });
                return;
            }
            if (!validTypes.includes(file.type)) {
                input.value = '';
                document.getElementById('clientSideErrorMessage').textContent = "Image must be of type png, jpg or svg";
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth'
                });
                return;
            }
            if (file.size > maxFileSize) {
                input.value = '';
                document.getElementById('clientSideErrorMessage').textContent = "Image must be less than 10MB";
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth'
                });
                return;
            }

            document.getElementById('pictureForm' + id).submit();
        }

        function toggleInput(checkbox, gardenId) {
            let box = checkbox;
            var gardenVisibilityText = document.getElementById("gardenVisibilityText");
            console.log(gardenId);
            console.log(box.checked);

            if (box.checked) {
                gardenVisibilityText.textContent = "Garden Visibility: Public";
            } else {
                gardenVisibilityText.textContent = "Garden Visibility: Private";
            }

            fetch(`/updateGardenPublicity?gardenId=${gardenId}&gardenPublicity=${box.checked}`)
            .then(response => {
                if (response.ok) {
                    console.log("Successfully updated garden publicity");
                }
            })
            .catch(error => {
                console.error("Error updating garden publicity:", error);
            })
        }

        // function cancelSelection() {
        //     document.getElementById('pictureFile').value = '';
        //     document.getElementById('profileImage').src = initialProfilePictureUrl;
        //     document.getElementById('pictureFileLabel').style.display = 'inline-block';
        //     document.getElementById('cancelButton').style.display = 'none';
        //     document.getElementById('submitButton').style.display = 'none';
        // }
    </script>
</body>
</html>