<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Log in</title>
</head>
<body>
    <h4>Log In</h4>

    <div>
        <form th:action="@{login}" method="post">
            <label for="email"> Email: </label>
            <input type="email" class="form-control" id="email" placeholder="Email"
                   th:name="email" th:value="*{email}" data-cy="email" size="40" required autofocus>
            <br/>
            <label for="password"> Password: </label>
            <input type="password" class="form-control" id="password" placeholder="Password"
                   th:name="password" data-cy="password" required autofocus>
            <br/>


            <button type="submit">Sign In</button>

        </form>
    </div>

    <div>
        <a th:href="@{.}">Cancel</a>
    </div>

    <div>
        <a th:href="@{register}">Not registered? Create an account! </a>
    </div>


</body>
</html>