<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head th:replace="~{fragments/head :: head(title='Gardener\'s Grove - Log In')}"></head>

<body>
    <main class="centred">
        <div class="basic">
            <h1>Log In</h1>
            <form th:action="@{login}" method="post" th:object="${loginForm}">
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='email', label='Email: ', placeholder='jane@doe.nz')}" />
                <br />
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='password', label='Password: ', placeholder='*******', type='password')}" />
                <br />
                <div>
                    <p>Not registered? <a th:href="@{register}">Create an account!</a></p>
                </div>
                <a th:href="@{forgotPassword}">Forgot password?</a>
                <div class="cancel-submit-wrapper">
                    <a class="cancel" th:href="@{/}">Cancel</a>
                    <button type="submit">Sign In</button>
                </div>
            </form>
        </div>
    </main>
    <script>
        // to disable early form submission using enter key
        document.getElementById('email').addEventListener('keypress', function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
            }
        });
    </script>
</body>
</html>