<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-user.css}">
    <title>My Profile</title>
</head>

<body>
    <div class="basic">
        <h1>My Profile</h1>
        <img id="profileImage" th:src="${profilePictureUrl}" alt="Profile Picture" class="profile-picture">

        <form th:action="@{updateProfilePicture}" method="post" enctype="multipart/form-data">
            <input type="file" name="newProfilePicture" onchange="validateImage(this)">
            <button type="submit" style="display: none;">Upload</button>
        </form>

        <p th:text="'First Name: ' + ${fName}"></p>
        <p th:text="'Last Name: ' + ${lName}"></p>
        <p th:text="'Email: ' + ${email}"></p>
        <p th:if="${dob != null}" th:text="'Date of birth: ' + ${dob}"></p>
        <p th:if="${dob == null}" th:text="'Date of birth: '"></p>

        <form th:action="@{logout}" method="post">
            <button class=cancel type="submit">Log Out</button>
        </form>

        <a th:href="@{editProfile}">Edit profile</a>
        <a class="next" th:href="@{.}">Home</a>
    </div>
    <script>
        function previewProfilePicture(event) {
            var input = event.target;
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.querySelector('.profile-picture').src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        function validateImage(input) {
            const file = input.files[0];
            const validTypes = ["image/png", "image/jpeg", "image/svg+xml"];
            const maxFileSize = 10 * 1024 * 1024; // 10MB

            if (!validTypes.includes(file.type)) {
                alert("Image must be of type png, jpg or svg");
                input.value = '';
                return false;
            }

            if (file.size > maxFileSize) {
                alert("Image must be less than 10MB");
                input.value = '';
                return false;
            }

            if (input.files && input.files[0]) {
                const fileReader = new FileReader();

                fileReader.onload = function (e) {
                    document.getElementById('profileImage').src = e.target.result;
                }

                fileReader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</body>
</html>