<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <title>My Profile</title>
</head>

<body>
<div id="basic">
    <h1>My Profile</h1>
    <p th:text="'First Name: ' + ${fName}"></p>
    <p th:text="'Last Name: ' + ${lName}"></p>
    <p th:text="'Email: ' + ${email}"></p>
    <p th:if="${dob != null}" th:text="'Date of birth: ' + ${dob}"></p>
    <p th:if="${dob == null}" th:text="'Date of birth: '"></p>


    <form th:action="@{logout}" method="post">
        <button type="submit">Log Out</button>
    </form>

        <div id="editProfile">
            <a th:href="@{editProfile}">Edit profile</a>
        </div>
    <div id="home">
        <a th:href="@{.}">Home</a>
    </div>
</div>
</body>
</html>