<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head th:replace="~{fragments/head :: head(title='Gardener\'s Grove - Register')}"></head>

<body>
    <main>
        <div class="basic">
            <h1>Register</h1>
            <form th:action="@{/register}" method="post" th:object="${registrationForm}">
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='firstName', label='First Name *', placeholder='Fabian')}" />
                <br />
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='lastName', label='Last Name ', placeholder='Gilson')}" />
                <br />
                <div class="form-element">
                    <div style="display: flex; align-items: center;">
                        <label for="noSurnameCheckBox">I have no last name</label>
                        <input type="checkbox" class="form-control" id="noSurnameCheckBox" th:field="*{noSurnameCheckBox}" onclick="toggleInput()">
                    </div>
                </div>
                <br />
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='email', label='Email *', placeholder='jane@doe.nz')}" />
                <br />
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='password', label='Password *', placeholder='*******', type='password')}" />
                <br />
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='retypePassword', label='Re-Type Password *', placeholder='*******', type='password')}" />
                <br />
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='dob', label='Date of Birth: ', placeholder='DD/MM/YYYY')}" />

                <div class="cancel-submit-wrapper">
                    <a class="cancel" th:href="@{/}">Cancel</a>
                    <button class="next" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </main>
    <script>
        // Function to disable last name input field if the 'no surname' checkbox is checked
        function toggleInput() {
            let checkbox = document.getElementById('noSurnameCheckBox');
            let textField = document.getElementById('lastName');

            if (checkbox.checked) {
                textField.value = '';
                textField.readOnly = true;
            } else {
                textField.readOnly = false;
            }
        }

        window.onload = function() {toggleInput()}

        // inspiration from source code: https://www.tjvantoll.com/2013/01/01/enter-should-submit-forms-stop-messing-with-that/
        // to disable early form submission using enter key
        const elements = ['firstName', 'lastName', 'noSurnameCheckBox', 'email', 'password', 'retypePassword']

        for (let i = 0; i < elements.length; i++) {
            document.getElementById(elements[i]).addEventListener('keypress', function(event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                }
            });
        }
    </script>
</body>
</html>