<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-user.css}">
</head>

<body>
    <div class="basic">
        <h1>Register</h1>
        <form th:action="@{/register}" method="post" th:object="${registrationForm}">
            <input th:replace="~{fragments/formElement :: formElementField(fieldName='firstName', label='First Name: ', placeholder='Fabian')}" />
            <br />
            <input th:replace="~{fragments/formElement :: formElementField(fieldName='lastName', label='Last Name: ', placeholder='Gilson')}" />
            <br />
            <input type="checkbox" class="form-control" id="noSurnameCheckBox" th:field="*{noSurnameCheckBox}" onclick="toggleInput()">
            <label for="noSurnameCheckBox"> I have no surname </label>
            <br />
            <input th:replace="~{fragments/formElement :: formElementField(fieldName='email', label='Email: ', placeholder='jane@doe.nz')}" />
            <br />
            <input th:replace="~{fragments/formElement :: formElementField(fieldName='password', label='Password: ', placeholder='*******', type='password')}" />
            <br />
            <input th:replace="~{fragments/formElement :: formElementField(fieldName='retypePassword', label='Re-Type Password: ', placeholder='*******', type='password')}" />
            <br />
            <input th:replace="~{fragments/formElement :: formElementField(fieldName='dob', label='Date of Birth: ', placeholder='DD/MM/YYYY')}" />
            <br />

            <button class="next" type="submit">Sign Up</button>
            <a class="cancel" th:href="@{.}">Cancel</a>
        </form>
    </div>
    <script>
        // Function to disable last name input field if the 'no surname' checkbox is checked
        function toggleInput() {
            let checkbox = document.getElementById('noSurnameCheckBox');
            let textField = document.getElementById('lastName');

            if (checkbox.checked) {
                textField.value = '';
                textField.readOnly = true;
            } else {
                textField.readOnly = false;
            }
        }

        window.onload = function() {toggleInput()}
    </script>
</body>
</html>