<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles-user.css}">
  <title>Reset Password</title>
</head>

<body>
    <div class="basic">
        <h1>Reset Password</h1>
        <form th:action="@{/resetPassword}" method="post" th:object="${resetPasswordForm}">
            <input type="hidden" name="token" th:value="${resetToken}" />
            <input th:replace="~{fragments/formElement :: formElementField(fieldName='newPassword', label='New password: ', placeholder='*******', type='password')}" />
            <br />
            <input th:replace="~{fragments/formElement :: formElementField(fieldName='retypePassword', label='Retype password: ', placeholder='*******', type='password')}" />
            <br />

            <button type="submit">Submit</button>
            <a class="cancel" th:href="@{login}">Cancel</a>
        </form>
    </div>
</body>
</html>