<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragments/head :: head(title='Gardener\'s Grove - Search By Email')}"></head>


<body>
  <div th:replace="~{fragments/header :: header}"></div>
    <main clas="centred">
      <div class="basic">
        <h1>Search Friend</h1>
<!--        <div th:if="${errorMessage}" class="error-message">-->
<!--          <p th:text="${errorMessage}"></p>-->
<!--        </div>-->
        <form th:action="@{/searchFriend}" method="get" th:object="${searchFriendsForm}">
          <div class="search-bar">
            <input th:replace="~{fragments/formElement :: formElementField(fieldName='search', label='', placeholder='jane@doe.nz')}" />
            <button type="submit">Search</button>
          </div>
        </form>

        <br />
          <table>
            <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
              <td th:text="${user.fname} + (${user.lname} ? ' ' + ${user.lname} : '')"></td>
              <td th:text="${user.email}"></td>
            </tr>
            </tbody>
            <tbody>

            </tbody>
          </table>
          <a class="cancel" th:href="@{friends}">Back</a>
      </div>
    </main>
</body>
</html>