<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragments/head :: head(title='Gardener\'s Grove - Search By Email')}"></head>


<body>
  <div th:replace="~{fragments/header :: header}"></div>
    <main clas="centred">
      <div class="basic">
        <h1>Search By Email</h1>
        <form th:action="@{/searchByEmail}" method="get" th:object="${searchForm}">
          <div th:if="${errorMessage}" class="error-message">
            <p th:text="${errorMessage}"></p>
          </div>

          <input th:replace="~{fragments/formElement :: formElementField(fieldName='email', label='Email: ', placeholder='jane@doe.nz')}" />

          <br />

          <table>
            <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${userResult == null}">
              <td colspan="5">There is nobody with that email in Gardener’s Grove</td>
            <tr th:if="${userResult != null}">
              <td th:text="${userResult.email}"></td>
            </tr>
            </tbody>
          </table>

          <button type="submit">Search</button>
          <a class="cancel" th:href="@{login}">Cancel</a>
        </form>
      </div>
    </main>
</body>
</html>