<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head th:replace="~{fragments/head :: head(title='Gardener\'s Grove - Edit Password')}"></head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main class="centred">
        <div class="basic">
            <h1>Update Password</h1>
            <form th:action="@{/editProfile/updatePassword}" method="post" th:object="${updatePasswordForm}">
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='password', label='Old Password: ', placeholder='*******', type='password')}" />
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='newPassword', label='New Password: ', placeholder='*******', type='password')}" />
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='retypeNewPassword', label='Retype Password: ', placeholder='*******', type='password')}" />
                <div class="cancel-submit-wrapper">
                    <a class="cancel button" th:href="@{/profile}">Cancel</a>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>