<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head th:replace="~{fragments/head :: head(title='Gardener\'s Grove - Edit Password')}"></head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main>
        <div class="basic">
            <h1>Update Password</h1>
            <form th:action="@{/editProfile/updatePassword}" method="post" th:object="${updatePasswordForm}">
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='password', label='Old Password: ', placeholder='*******', type='password')}" />
                <br />
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='newPassword', label='New Password: ', placeholder='*******', type='password')}" />
                <br />
                <input th:replace="~{fragments/formElement :: formElementField(fieldName='retypeNewPassword', label='Retype Password: ', placeholder='*******', type='password')}" />
                <br />

                <button type="submit">Submit</button>
                <a class="cancel button" th:href="@{/profile}">Cancel</a>
            </form>
        </div>
    </main>
</body>
</html>