<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles-user.css}">
    <title>Update Password</title>
</head>

<body>
    <div class="basic">
        <h1>Update Password</h1>
        <form th:action="@{/editProfile/updatePassword}" method="post" th:object="${updatePasswordForm}">
            <input th:replace="~{fragments/formElement :: formElementField(fieldName='oldPassword', label='Old Password: ', placeholder='*******', type='password')}" />
            <br />
            <input th:replace="~{fragments/formElement :: formElementField(fieldName='newPassword', label='New Password: ', placeholder='*******', type='password')}" />
            <br />
            <input th:replace="~{fragments/formElement :: formElementField(fieldName='retypeNewPassword', label='Retype Password: ', placeholder='*******', type='password')}" />
            <br />

            <button type="submit">Submit</button>
            <a class="cancel" th:href="@{/editProfile}">Cancel</a>
        </form>
    </div>
</body>
</html>