<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles-user.css}">
    <title>Log in</title>
</head>

<body>
<div class="verification">
    <h1>Email Verification</h1>
    <form th:action="@{/register/verification}" method="post" th:object="${verificationTokenForm}">
        <p>We have emailed you with a 6-digit signup code, please enter it below</p>
        <input th:replace="~{fragments/formElement :: formElementField(fieldName='verificationToken', label='Signup Code: ', placeholder='XXXXXX')}"/>
        <br/>
        <button class="submitButton" type="submit">Verify Email</button>
        <a class="cancelButtonLink" th:href="@{.}">Cancel</a>
    </form>
</div>
</body>

</html>
