<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head th:replace="~{fragments/head :: head(title='My Friends')}"></head><tr th:each="result : ${searchResults}">
        <td th:text="${result.name}"></td>
        <td th:text="${result.email}"></td>
    </tr>

<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>
  <div class="basic">
    <h1>My Friends</h1>
    <a th:href="@{searchByEmail}">Search by email</a>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Gardens</th>
      </tr>
      </thead>
        <tbody>
          <tr  th:if="${friends.empty}">
            <td colspan="2"> You don't have any friends yet</td>
          </tr>
        <tr th:each="friend : ${friends}">
          <td><a th:href="@{/user/{id}/profile(id=${friend.id})}" th:text="${friend.fname + ' ' + (friend.lname != null ? friend.lname : '')}"> Name </a></td>
          <td><a th:href="@{/user/{id}/gardens(id=${friend.id})}" th:text="'View Gardens'"> Gardens </a></td>

        </tr>
        </tbody>
    </table>

    <br>
    <h2>Requests</h2>

    <table>
      <thead>
      <tr>
        <th>Incoming Requests</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${requestingUsers.empty}">
        <td colspan="2"> You don't have any friend requests yet</td>
      </tr>
      <tr th:each="user : ${requestingUsers}">
        <td><a th:text="${user.fname + ' ' + (user.lname != null ? user.lname : '')}"> Name </a></td>
        <td class="button-cell">
          <form th:action="@{/acceptFriend}" method="post">
            <input type="hidden" th:name="senderUserId" th:value="${user.id}" />
            <button class="invite-button" type="submit">Accept</button>
          </form>
          <form th:action="@{/declineFriend}" method="post">
            <input type="hidden" th:name="senderUserId" th:value="${user.id}" />
            <button class="invite-button" type="submit">Decline</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>

    <table>
      <thead>
      <tr>
        <th>Outgoing Requests</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${pendingRequests.empty && declinedRequests.empty}">
        <td colspan="2"> You haven't sent any friend requests yet</td>
      </tr>
      <tr th:each="pending : ${pendingRequests}">
        <td><a th:text="${pending.fname + ' ' + (pending.lname != null ? pending.lname : '')}"> Name </a></td>
        <td>Pending</td>
      </tr>
      <tr th:each="declined : ${declinedRequests}">
        <td><a th:text="${declined.fname + ' ' + (declined.lname != null ? declined.lname : '')}"> Name </a></td>
        <td>Declined</td>

      </tr>
      </tbody>
    </table>

  </div>


</main>
</body>
</html>