* {
  font-family: Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #b2e0af;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  margin: 50px 20px;
  padding: 30px;
}

main.centred {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
    text-align: center;
    color: #023020;
}

h2 {
    text-align: left;
    align-self: flex-start;
    font-size: 1em;
    font-weight:500;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.basic {
  padding: 25px;
  margin: auto;
  background-color: #FAF9F6;
  border-radius: 15px;
  min-width: 290px; /* prevent weird visual bug when smooshed */
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  min-height: 80vh;
  gap: 2px;
}

.error {
  margin: 0 auto;
  max-width: 300px;
  color: red;
  text-align: center;
}

.pagination {
  display: flex;
  column-gap: 10px;
  margin-top: 10px;
}

.pagination > a {
  width: 35px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #023020;
  color: white;
  text-decoration: none;
  line-height: normal;
}

.pagination > a.active {
  background-color: #b2e0af;
  color: #023020;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  text-align: center;
  border-left: 2px solid #000000;
}

.first-item {
  border-left: none;
}

.min-temp {
  color: #0000bb;
}

.max-temp {
  color: #d20000;
}