form {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.form-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8px;
}

.form-element div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-element label {
    padding: 12px;
}

.form-element .dropdown {
    display: flex;
    flex-direction: column;
}

.form-element.no-label div{
    justify-content: center;
}

.form-element input[type="text"],
.form-element input[type="password"]{
    width: 320px;
    height: 35px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

.form-element.no-label input {
    margin-left: 0;
}

/* Buttons/Links */

button, .cancel, .submit {
    padding: 8px 18px;
    margin-top: 8px;
    font-size: 18px;
    border-radius: 10px;
    color: #FAF9F6;
    background-color: #023020;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.link {
    color: darkblue;
    text-decoration: underline;
}

button:hover, .submit:hover {
    background-color: rgba(4, 65, 42, 0.71);
}

.cancel {
    background-color: darkred;
}

.cancel:hover {
    background-color: rgba(139, 0, 0, 0.55);
}

.invite-button {
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #023020;
    color: #FAF9F6;
    border: none;
    cursor: pointer;
}

.button-cell-friends .button-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.status-header {
    text-align: right;
    padding-right: 20px;
}

.button-cell form {
    display: inline-block;
    align-content: end;
}

.decline-button {
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: darkred;
    color: #FAF9F6;
    border: none;
    cursor: pointer;
}

.invite-button:hover {
    background-color: rgba(4, 65, 42, 0.71);
}

#landing a {
    margin: 0 5px;
    padding: 10px 22px;
    font-size: 18px;
    border-radius: 10px;
    color: #FAF9F6;
    background-color: #023020;
    text-decoration: none;
}

#landing a:hover {
    background-color: rgba(4, 65, 42, 0.71);
}

.cancel-submit-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.search-bar input[type="text"] {
    width: 320px;
    height: 38px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
    box-sizing: border-box;
}