body {
    background-color: #023020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#welcome {
    background-color: white;
    padding: 10px; /* Padding for inside the box */
    width: 50%; /* Set the width of the box */
    height: 50%; /* Set the height of the box */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Set the direction to column */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center the text inside the box */
    border-radius: 10px; /* Set the border radius */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Set the shadow */

}
