/* Font change */
* {
    font-family: Helvetica;
}


/* Body style */
body {
    background-color: #023020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Heading style */
h1, form {
    text-align: center;
    margin-bottom: 2rem;
}

/*dev*/
form button.cancel {
    text-align: left;
}

/* Overwriting some tags */
p {
    margin: 4px 0;
}

/*elena*/
/* Landing container styles */
.landing {
    padding: 1.5rem;
    background-color: #FAF9F6;
    border-radius: 10px;

    position: relative;
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}


/* Basic container styles */
.basic {
    padding: 1.5rem;
    background-color: #FAF9F6;
    border-radius: 10px;

    position: relative;
    /*elena*/
    /*width: 500px;*/
    /*height: 750px;*/
    width: 50rem;
    height: auto;
    min-height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

/*elena */
/* Verification container styles */
.verification {
    padding: 1.5rem;
    background-color: #FAF9F6;
    border-radius: 10px;

    position: relative;
    width: 650px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

/*dev*/
form.upload-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cancel {
    padding: 8px 18px;
    font-size: 16px;
    border-radius: 10px;
    color: #FAF9F6;

    text-decoration: none; /* Remove underline */

    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: auto;
    background-color: darkred;
}

button.cancel{
    padding: 8px 18px;
    font-size: 16px;
    border-radius: 10px;
    color: #FAF9F6;
    text-align: center;
    text-decoration: none; /* Remove underline */
    background-color: darkred;
    display: block;
    width: 100%;
    margin-top: 3px;
    padding: 5px;
}

/*from dev*/
.cancelMinor {
    color: #FAF9F6;
    background-color: darkred;
}

.cancelMinor:hover {
    background-color: rgba(139, 0, 0, 0.55);
}

/*elena*/
.cancelButtonLink:hover {
    background-color: #c00; /* Slightly lighter red on hover */
    opacity: 0.8;
}

#landing a {
    padding: 10px 22px;
    font-size: 18px;
    border-radius: 5px;
    color: #FAF9F6;
    text-decoration: none; /* Remove underline */

    margin: 0 5px; /* Adjust margin between links */
    background-color: #023020;
}

#landing a:hover {
    background-color: rgba(4, 65, 42, 0.71);
}

/* from dev */
button {
    padding: 8px 18px;
    margin-top: 8px;
    font-size: 16px;
    border-radius: 10px;
    color: #FAF9F6;

    background-color: #023020;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.next {
    padding: 8px 18px;
    font-size: 16px;
    border-radius: 10px;
    color: #FAF9F6;

    background-color: #023020;
    border: none;
    cursor: pointer;
    text-decoration: none;

    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

/*elena*/
.submitButton{
    font-size: 18px;
    border-radius: 3px;
    color: #FAF9F6;

    background-color: #023020;
    border: none;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    padding: 5px;
}

.submitButton:hover {
    background-color: #04492f; /* Slightly lighter red on hover */
    opacity: 0.8;
}

/*from dev*/
button.submit {
    padding: 8px 18px;
    font-size: 16px;
    border-radius: 10px;
    color: #FAF9F6;

    background-color: #023020;
    border: none;
    cursor: pointer;
    text-decoration: none;

    position: absolute;
    bottom: auto;
    right: 1rem;
}

button:hover {
    background-color: rgba(4, 65, 42, 0.71);
}

.profile-picture-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input[type="file"] {
    display: none;
}

.file-upload-label {
    display: inline-block;
    color: #FAF9F6;
    background-color: #023020;
    padding: 8px 18px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 8px;
}

.file-upload-label:hover {
    background-color: rgba(4, 65, 42, 0.71);
}

.form-element {
    margin-top: 8px;
    width: 100%;
}

/*elena*/
input {
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin: 10px auto;
}

.surnameCheckbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.surnameCheckbox input[type="checkbox"] {
    margin: 0;
    width: fit-content;
}

.surnameCheckbox label {
    padding-left: 10px;
    margin: 0;
    white-space: nowrap;
}


@media (max-width: 768px) {
    .basic {
        width: 90%;
        padding: 10px;
    }
}
