* {
    font-family: Arial, sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
}

/* Navbar */

nav {
    background-color: darkgreen;
    color: #fff;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    z-index: 9999; /* render the navbar in front of everything else */
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: stretch;
    }
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-size: 25px;
}

nav ul li a.active {
    background: green;
}

nav ul li a:hover {
    background: forestgreen;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #50ce50;
}

nav ul li ul li a {
    font-size: 16px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav ul li:hover ul {
    display: block;
}

/* Main content */

main {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    width: 100%;;
    padding: 20px;
    background: lightgrey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

h1,
.content > div,
input {
    margin-bottom: 5px;
}

/* Button styles */
.button, button, .next, button.submit {
    padding: 8px 18px;
    margin-top: 8px;
    font-size: 16px;
    border-radius: 10px;
    color: #FAF9F6;

    background-color: #023020;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.next, button.submit {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

button:hover {
    background-color: rgba(4, 65, 42, 0.71);
}

.cancel {
    color: #FAF9F6;
    text-decoration: none; /* Remove underline */
    background-color: darkred;
}

.cancelMinor {
    color: #FAF9F6;
    background-color: darkred;
}

.cancel:hover {
    background-color: rgba(139, 0, 0, 0.55);
}

.cancelMinor:hover {
    background-color: rgba(139, 0, 0, 0.55);
}

button.cancel:hover {
    background-color: rgba(139, 0, 0, 0.55);
}

/* Other link styles */
#landing a {
    padding: 10px 22px;
    font-size: 18px;
    border-radius: 10px;
    color: #FAF9F6;

    text-decoration: none; /* Remove underline */

    margin: 0 5px; /* Adjust margin between links */
    background-color: #023020;
}

#landing a:hover {
    background-color: rgba(4, 65, 42, 0.71);
}



th {
    text-align: left;
    text-decoration: underline;
}

td {
    padding: 5px 0;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.error {
    color: red;
}

/* Tables */

table {
    border-spacing: 0;
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
}

table thead {
    color: white;
    background: forestgreen;
    position: sticky;
    top: 0;
}

table tbody {
    background: #e6e6e6;
}

td {
    max-width: 200px;
    white-space: initial;
    word-wrap: break-word;
}

.scroll-plants-container {
    padding: 0 !important;
    overflow-y: auto;
}

.scroll-plants-container > table {
    width: 100%
}

.profile-picture-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input[type="file"] {
    display: none;
}

form.upload-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-upload-label {
    display: inline-block;
    color: #FAF9F6;
    background-color: #023020;
    padding: 8px 18px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 8px;
}

.file-upload-label:hover {
    background-color: rgba(4, 65, 42, 0.71);
}

.form-element {
    margin-top: 8px;
    width: 100%;
}
