/* Font change */
* {
    font-family: Helvetica;
}


/* Body style */
body {
    background-color: #023020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Heading style */
h1, form {
    text-align: center;
    margin-bottom: 2rem;
}

form button.cancel {
    text-align: left;
}

/* Basic container styles */
.basic {
    padding: 1.5rem;
    background-color: #FAF9F6;
    border-radius: 1.75rem;

    position: relative;
    width: 50rem;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}


.cancel{
    padding: 8px 18px;
    font-size: 16px;
    border-radius: 10px;
    color: #FAF9F6;

    text-decoration: none; /* Remove underline */

    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: auto;
    background-color: darkred;
}

button.cancel{
    padding: 8px 18px;
    font-size: 16px;
    border-radius: 10px;
    color: #FAF9F6;

    text-decoration: none; /* Remove underline */

    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: auto;
    background-color: darkred;
}

.cancel:hover {
    background-color: rgba(139, 0, 0, 0.55);
}

button.cancel:hover {
    background-color: rgba(139, 0, 0, 0.55);
}

/* Other link styles */
#landing a {
    padding: 10px 22px;
    font-size: 18px;
    border-radius: 10px;
    color: #FAF9F6;

    text-decoration: none; /* Remove underline */

    margin: 0 5px; /* Adjust margin between links */
    background-color: #023020;
}

#landing a:hover {
    background-color: rgba(4, 65, 42, 0.71);
}

/* Button styles */
button, .next {
    padding: 8px 18px;
    font-size: 16px;
    border-radius: 10px;
    color: #FAF9F6;

    background-color: #023020;
    border: none;
    cursor: pointer;
    text-decoration: none;

    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

button.submit {
    padding: 8px 18px;
    font-size: 16px;
    border-radius: 10px;
    color: #FAF9F6;

    background-color: #023020;
    border: none;
    cursor: pointer;
    text-decoration: none;

    position: absolute;
    bottom: auto;
    right: 1rem;
}

button:hover {
    background-color: rgba(4, 65, 42, 0.71);
}

input {
    margin-bottom: 7px;
}

.profile-picture {
    width: 100px;
    height: auto;
}

