* {
    font-family: Arial, sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

/* Navbar */

nav {
    background-color: darkgreen;
    color: #fff;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    z-index: 9999; /* render the navbar in front of everything else */
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 25px;
}

nav ul li a.active {
    background: green;
}

nav ul li a:hover {
    background: forestgreen;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #50ce50;
}

nav ul li ul li a {
    font-size: 16px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav ul li:hover ul {
    display: block;
}

/* Main content */

main {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    max-width: 800px;
    padding: 20px;
    background: lightgrey;
    border-radius: 10px;
}

h1,
.content > div,
input,
button {
    padding: 5px;
    margin-bottom: 5px;
}

th {
    text-align: left;
    text-decoration: underline;
}

td {
    padding: 5px 0;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.error {
    color: red;
}

/* Tables */

table {
    border-spacing: 0;
}

th, td {
    padding: 10px;
    text-align: left;
}

table thead {
    color: white;
    background: forestgreen;
    position: sticky;
    top: 0;
}

table tbody {
    background: #e6e6e6;
}

td {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scroll-plants-container {
    padding: 0 !important;
    overflow-y: auto;
}

.scroll-plants-container > table {
    width: 100%
}