<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Garden</title>
</head>

<body>
    <h1>This is the create new garden screen</h1>

    <div>
        <div>
            <form th:action="@{/gardens/create}" method="post">
                <label for="gardenName"> Name: </label>
                <input type="text" class="form-control" id="gardenName" placeholder="Your garden's name"
                    th:name="gardenName" th:value="*{gardenName}" data-cy="gardenName" autofocus>
                <br />
                <label for="gardenLocation"> Location: </label>
                <input type="text" class="form-control" id="gardenLocation" placeholder="Your garden's location"
                    th:name="gardenLocation" th:value="*{gardenLocation}" data-cy="gardenLocation" autofocus>
                <br />
                <label for="gardenSize"> Size: </label>
                <input type="text" class="form-control" id="gardenSize" placeholder="Your garden's size"
                    th:name="gardenSize" th:value="*{gardenSize}" data-cy="gardenSize" autofocus>
                <br>
                <span th:if="${gardenNameError}" style="color: red;" th:text="${gardenNameError}" />
                <br />
                <br>
                <span th:if="${gardenLocationError}" style="color: red;" th:text="${gardenLocationError}" />
                <br />
                <br>
                <span th:if="${gardenSizeError}" style="color: red;" th:text="${gardenSizeError}" />
                <br />
                <button type="submit">Create Garden</button>
            </form>
        </div>
        <div>
            <a th:href="@{/gardens}">View responses</a>
            <a th:href="@{/}">Back to home</a>
        </div>
    </div>

</body>

</html>