<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>My Gardens</title>
</head>
<body>
<div>
    <div>
        <h4>My Gardens:</h4>
        <table>
            <thead>
            <tr>
                <th>Id</th> <!--won't necessarily be in deliverable, mainly here to help development-->
                <th>Name</th>
                <th>Location</th>
                <th>Size</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${gardens.empty}">
                <td colspan="4"> No gardens have been made yet</td>
            </tr>
            <tr th:each="garden : ${gardens}">
                <td><span th:text="${garden.id}"> Id </span></td>
                <td><span th:text="${garden.name}"> Name </span></td>
                <td><span th:text="${garden.location}"> Location </span></td>
                <td><span th:text="${garden.size}"> Size </span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a th:href="@{/gardens/create}">Back to form</a>
    </div>

</div>
</body>
</html>