<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head th:replace="~{fragments/head :: head(title='Gardener\'s Grove - Create Garden')}"></head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main>
        <h1>Create a garden</h1>
        <div class="content">
            <form
                th:replace="~{fragments/formElement :: gardenForm(action=@{/gardens/create}, actionLabel=${actionLabel}, cancel=${nextDestination}, gardenName=${gardenName}, gardenLocation=${gardenLocation}, gardenSize=${gardenSize}, gardenNameError=${gardenNameError}, gardenLocationError=${gardenLocationError}, gardenSizeError=${gardenSizeError})}">
            </form>
        </div>
    </main>
</body>

</html>