<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gardener's Grove - Create Garden</title>
    <script>
        document.addEventListener('keydown', function(event) {
            if (event.key === 'Enter' && event.target.tagName.toLowerCase() === 'input') {
                event.preventDefault();
                event.target.blur();
            }
        });
    </script>
</head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main>
        <h1>Create plant for garden</h1>
        <div>
            <form
                th:replace="~{fragments/formElement :: plantForm(action=@{/gardens/{gardenId}/plants/create(gardenId=${gardenId})}, actionLabel=${actionLabel}, cancel=@{'/gardens/' + ${gardenId}}, plantName=${plantName}, plantCount=${plantCount}, plantDescription=${plantDescription}, plantedOnDate=${plantedOnDate}, plantGardenId=${gardenId}, plantNameError=${plantNameError}, plantCountError=${plantCountError}, plantDescriptionError=${plantDescriptionError}, plantedOnDateError=${plantedOnDateError})}">
            </form>
        </div>
    </main>
</body>

</html>