<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head th:replace="~{fragments/head :: head(title='Gardener\'s Grove - My Gardens')}"></head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main>
        <div>
            <h1>My Gardens</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${gardens.empty}">
                        <td colspan="3"> No gardens have been made yet</td>
                    </tr>
                    <tr th:each="garden : ${gardens}">
                        <td><a th:href="@{/gardens/{id}(id=${garden.id})}" th:text="${garden.name}"> Name </a></td>
                        <td><span th:text="${garden.location}"> Location </span></td>
                        <td><span th:if="${garden.size != null}" th:text="${garden.size}"> Size </span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>