<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Form Demo - Responses</title>
</head>
<body>
<div>
    <div>
        <h4>Form Responses:</h4>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Language</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${responses.empty}">
                <td colspan="2"> No responses have been made yet</td>
            </tr>
            <tr th:each="response : ${responses}">
                <td><span th:text="${response.name}"> Name </span></td>
                <td><span th:text="${response.language}"> Language </span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a th:href="@{/form}">Back to form</a>
    </div>

</div>
</body>
</html>