<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Thymeleaf Spring Boot Demo</title>
</head>
<body>
<div>
    <div>
        <form th:action="@{form}" method="post">
            <label for="name"> Name: </label>
            <input type="text" class="form-control" id="name" placeholder="Name"
                   th:name="name" th:value="*{name}" data-cy="name" required autofocus>
            <br/>
            <label for="favouriteLanguage"> Your favourite programming language: </label>
            <input type="text" class="form-control" id="favouriteLanguage" placeholder="Java?"
                   th:name="favouriteLanguage" th:value="*{favouriteLanguage}" data-cy="favouriteLanguage" required
                   autofocus>
            <br/>
            <button type="submit">Submit!</button>
        </form>
    </div>
    <div th:if="${displayName!=''}">
        <h4 th:text="'Welcome ' + ${displayName} +', ' + ${displayFavouriteLanguage} + ' is a pretty good language.'"></h4>
        <h4 th:if="${isJava}"> Looks like Java is both our favourite language!</h4>
    </div>
    <div>
        <a th:href="@{form/responses}">View responses</a>
        <a th:href="@{demo}">Back to home</a>
    </div>
</div>
</body>
</html>
<!--TODO delete all demo files-->