<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Gardener\'s Grove - ' + ${garden.name}"></title>
    <script>
        document.addEventListener('keydown', function(event) {
            if (event.key === 'Enter' && event.target.tagName.toLowerCase() === 'input') {
                event.preventDefault();
                event.target.blur();
            }
        });
    </script>
</head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main>
        <div>
            <h2 th:text="${garden.name}"></h2>
            <a th:href="@{'/gardens/' + ${garden.id} + '/plants/create'}">
                Add a plant
            </a>
            <h4 th:text="'Location: ' + ${garden.location}"></h4>
            <h4 th:if="${garden.size != null}" th:text="'Size: ' + ${garden.size}"></h4>
            <div>
                <a th:href="@{'/gardens/' + ${garden.id} + '/edit'}">Edit Garden Details</a>
            </div>
            <div>
                <a th:href="@{/gardens}">Back to My Gardens</a>
            </div>
        </div>
    </main>
</body>

</html>